<!DOCTYPE html>
<html lang="en-us">
<head>
    <link rel="icon" href="../statics/icon.png"/>
    <title>Camera Express</title>
    <link rel="stylesheet" type="text/css" href="../statics/main.css">
</head>
<body>

<header class="home-cover">
    <%- include('nav'); -%>
    <section class="section-home">
        <h1 class="heading">GET INSPIRED & PUBLISH</h1>
        <h2 class="heading-content">It is a long established fact that a reader will be distracted by the readable content of a page
            when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
            distribution of letters, as opposed to using 'Content here, content here', making it look like
            readable English.</h2>
    </section>
    <div class="home-button">
        <a href="#" class="btn btn-primary">CREATE ACCOUNT</a>
        <a href="#" class="btn btn-primary">SIGN IN</a>
    </div>
</header>
<main class="container">
    <div class="site-stats">
        <div class="stats">
            <h1>1024+</h1>
            <p>Magazines and Books
                designed and published</p>
        </div>
        <div class="stats">
            <h1>40960+</h1>
            <p>Published photographs
                in magazines and books</p>
        </div>
        <div class="stats">
            <h1>100K+</h1>
            <p>Readers
                Worldwide
            </p>
        </div>
        <div class="stats">
            <h1>5+</h1>
            <p>Membership plans
                to choose from</p>
        </div>
    </div>
    <h1>Most of the things are here!</h1>

</main>

<%- include('footer') -%>