<nav class="navBar" id="nav">
    <div class="left-nav">
        <a href="#"><img src="../statics/a-logo-green.png" alt="" class="nav-logo"></a>
    </div>
    <div class="middle-nav">
        <ul class="nav-list">
            <li><a href="" class="nav-link home-link">Home</a></li>
            <li><a href="#" class="nav-link">Press Card</a></li>
            <li><a href="#" class="nav-link">Publications</a></li>
            <li><a href="#" class="nav-link">Members</a></li>
            <li><a href="/post/photo_post" class="nav-link">Gallery</a></li>
            <li><a href="#" class="nav-link">Tools</a></li>
        </ul>
    </div>
    <div class="right-nav">
        <ul class="nav-list">
            <li><a href="/users/register" class="nav-link">Register</a></li>
            <li><a href="/users/login" class="nav-link">Login</a></li>
            <li><a href="#" class="nav-link">Info</a></li>
        </ul>
    </div>
</nav>

<script src="../statics/main.js"></script>